<html>

<head>
    <h1> FOLLOW REQUESTS </h1>
</head>

<body>

    <br>
    <form action="/manageFollows" method="POST" enctype="multipart/form-data">
        <p> YOUR FOLLOW REQUESTS: </p>
        <label for="requestedFollowers"> These users are requesting to follow you: </label><br><br>
        <select id="requestedFollowers" name="requestedFollowers" multiple>
            {% for person in requestedFollowers %}
                <option value={{person.follower}}>{{person.follower}}</option>
            {% endfor %}
        </select>

        <p> Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>

        <br><br>
        <input id="accept" type="submit" name="followAction" value="Accept" />
        <br><br>
        <input id="reject" type="submit" name="followAction" value="Reject" >/
    </form>

</body>
</html>
