<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are posts that tag {{tagSearch}}:

<table>
	<th>Time</th>
	<th>Post</th>

{% for line in taggedPosts %}
	<tr>
        <td>{{line.pID}}</td>
		<td><img src="{{url_for('uploaded_file', filename=line.filePath)}}" alt="Uploaded Image" width="500" height="333"></td>
		<td>{{line.caption}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.poster}}</td>
	</tr>
{% endfor %}
</table>

<br>
<br>
<a href="/searchTag">Select for another tag</a>
<br>
<br>
<a href="/home">Home</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
